.d-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  @media screen and (max-width: 860px) {
    flex-direction: column;

    discogs-messages-list,
    &__conversations {
      width: 100%;
    }
  }

  discogs-messages-list {
    flex: 1 0 0;
  }

  &__conversations {
    flex: 3 0 0;
  }
}